@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,300&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navegation */

header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.titulo-resp {
    color: black;
    font-size: 30px;
    text-align: center;
    opacity: 0;
}


.nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    max-width: 992px;
    margin: 0 auto;
    margin-top: 5px;
}


.nav-menu {
    display: flex;
    float: right;
    list-style: none;
    margin-top: 25px;

    left: 100%;
}


.nav-menu-link {
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 20px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.nav-menu-link:focus {
    outline: 0;
}

.nav-menu-link {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.nav-menu-link:hover {
    background-color: rgb(0, 213, 255);
    box-shadow: 5px 10px;
}


.btn {
    cursor: pointer;
}


.nav-toggle {
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 20px 20px;
    float: right;
    cursor: pointer;

    display: none;
}

/**** Container ****/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    margin-top: 200px;
}

.fondo {
    width: 100%;
    height: 760px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 83px;
    border-radius: 1em;
}

.div-fondo {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.foto {
    width: 240px;
    height: 240px;
    border-radius: 9em 9em;
    margin-top: 100px;
}

.div-title {
    width: 50%;
    height: 20%;
    border-radius: 1em;
    display: grid;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
}

.div-title h1 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -50px;
}

.div-title h2 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.div-title h3 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.signo-ab {
    float: left;
    margin: 10px;
}

.signo-ce {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.div-fondo h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

/*  Cards */

.cards {
    font-family: 'Rubik', sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 150px 3px;
    gap: .2em;
    margin-top: 50px;

}

.card {
    padding-bottom: 2.2em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}


/*****
.card:nth-of-type(1) {
    --image: url(../imagenes/html.jpg);
}

.card:nth-of-type(2) {
    --image: url(../imagenes/css.jpg);
}

.card:nth-of-type(3) {
    --image: url(../imagenes/javaS.jpg);
}
****/


.card__img img {
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 1em 1em 0 0;
}

.card__texts {
    justify-content: center;
    padding: 1em;
}

.card__p {
    padding: 1.5em 0;
}

.card__cta {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    cursor: pointer;
}




/* Modal */

.modal-container {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;


}

.modal {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-2 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.modal-2 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-3 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-3 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.close,
.close_2,
.close_3 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(253, 253, 253);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    cursor: pointer;
}

/* Galeria */

.galeria {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 90px 0;
    display: grid;
    gap: 0 30px;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-rows: (4, 1fr);
    align-items: center;
    grid-template-areas: ".      card1       ."
    "card2    .     card3"
    ".      card4       .";
    margin-top: 150px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    padding: 10px 10px;
}

.galeria-item {
    width: 370px;
    height: 230px;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
    border-radius: 1em;
}

.galeria-item:nth-of-type(1) {
    grid-area: card1;
}

.galeria-item:nth-of-type(2) {
    grid-area: card2;
}

.galeria-item:nth-of-type(3) {
    grid-area: card3;
}

.galeria-item:nth-of-type(4) {
    grid-area: card4;
}

.figuras-galeria {
    flex-basis: 48%;
}

.galeria-icon {
    width: 110px;
    height: 110px;
}

/**** contacto *****/

#message {
    height: 50px;
}

.container-img {
    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: auto;
}

.div-contacto img {
    margin: 14px;
    height: 40px;
    margin-top: 20px;
}

/**** Footer 
.img-personal {
    width: 100%;
    height: 330px;
    border-radius: 1em;
}



.container-footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;

}

#form {
    width: 400px;
    height: 450px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(8, 3, 88) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.field label {
    font-size: 20px;
    color: rgb(0, 213, 255);
}

.field input {
    width: 90%;
    margin-top: 10px;
    border-radius: 1em;
    height: 30px;
    margin-top: 15px;
}

.button {
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 20px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
}

.button:focus {
    outline: 0;
}

.button {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.button:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}

.div-contacto {
    width: 100%;
    height: 150px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(8, 3, 88) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
  
}
****/
.container-footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: 700px;
    margin-bottom: 50px;
}


.contactarme {
    width: 130px;
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 40px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;

}

.contactarme:focus {
    outline: 0;
}

.contactarme {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.contactarme:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}


form {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
    border-radius: 1em;
}

form p {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}


.container {
    margin-top: 0;
}

form{
    margin-top: 15px;
}

.container input,
textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 1em;
}
.form-h1{
    width: 230px;
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 40px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.form-h1:focus {
    outline: 0;
}

.form-h1 {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.form-h1:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(49, 6, 90);
    background-color: transparent;
    width: 110px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 1em;
    margin-top: 10px;
}

.btn:focus {
    outline: 0;
}

.btn {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}















































/*************************************************************************************************************/


/* Responsive 

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .titulo-resp {
        font-size: 20px;
        text-align: center;
        opacity: 1;
    }


    .div-fondo {
        width: 90%;
        height: 500px;
    }

    .foto {
        width: 120px;
        height: 120px;
        border-radius: 9em 9em;
        margin-top: 100px;
    }

    .div-title {
        width: 250px;
        height: 320px;
        border-radius: 1em;
        display: grid;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        box-shadow: 0 0 32px -16px rgb(255, 255, 255);
    }

    .div-title h1 {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -50px;
    }

    .div-title h2 {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }

    .div-title h3 {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }


    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .galeria {
        height: 900px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 40px;
    }

    .galeria-item {
        flex: 1;
        flex-direction: column;
    }

    header {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        height: 73px;
    }

    .logo-nav {
        font-size: 5px;
        padding: 0 5px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        position: fixed;
        left: 0;
        top: 48px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        justify-content: center;



        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-link {
        text-decoration: none;
    }

    .cards {
        font-family: 'Rubik', sans-serif;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 150px 3px;
        gap: .2em;
        margin-top: 50px;

    }

    .card {
        padding-bottom: 2.2em;
        width: 100%;
        border-radius: 1em;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
    }


    .card__img img {
        background-size: cover;
    }



    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .container-footer {
        width: 100%;
    }

}




@media screen and (min-width: 480px) and (max-width: 768px) {




    .div-fondo {
        width: 90%;
        height: 900px;
    }

    .card {
        width: 90%;
        max-width: 1200px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 480px) {
    body{
        width: 50%;
    }
    
    header {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        height: 73px;
    }

    .logo-nav {
        font-size: 5px;
        padding: 0 5px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        position: fixed;
        left: 0;
        top: 48px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        justify-content: center;



        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-link {
        text-decoration: none;
    }
}

*/