@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*** Navegation ***/

header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    display: relative;
    justify-content: space-between;
    text-decoration: none;
    max-width: 992px;
    margin: 0 auto;
    margin-top: 5px;
}

.nav-menu {
    display: flex;
    list-style: none;
    position: relative;
    left: 130px;
}

.nav-ul {
    position: relative;
    float: right;
}

.nav-menu-item {

    line-height: 80px;
    text-transform: uppercase;
    width: max-content;

}

.nav-menu-link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 20px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 3px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}


.nav-menu-link:focus {
    outline: 0;
}

.nav-menu-link {
    border-color: rgb(0, 86, 136);
    transition: box-shadow 0.2s ease-in-out;
}

.nav-menu-link:hover {
    background: linear-gradient(90deg, rgb(7, 2, 100) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    box-shadow: 2px 5px;
}


/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    position: relative;
    left: 15%;
    top: 5px;
    display: none;
}

.logo_nav {
    position: relative;
}

.logo-nav {
    position: absolute;
    float: left;
    left: 80px;
}



.div-line {
    width: 90%;
    max-width: 1200px;
    height: 15px;
    margin: 0 auto;
    margin-top: 150px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
}

.div-line-2 {
    width: 90%;
    max-width: 1200px;
    height: 15px;
    margin: 0 auto;
    position: relative;
    top: 290px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
}

.div-line-3 {
    width: 90%;
    max-width: 1200px;
    height: 15px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
}

/**** Container ****/

.container-first {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    margin-top: 5px;
}

.fondo {
    width: 100%;
    height: 760px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 83px;
    border-radius: 1em;
    
}

.div-fondo {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.div-foto h1 {
    width: 35%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: auto;
    top: 40px;

}

.h1-foto {
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.shadow {
    -webkit-animation: shadow-pop-bl 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@-webkit-keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

@keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

.foto {
    width: 290px;
    height: 270px;
    background: url(../imagenes/lu.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    display: inline-block;
    
}

/*** container flag***/

.container-flag {
    position: absolute;
    margin: 0;
    margin-top: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.flag-img {
    position: relative;
    background-image: url(../imagenes/flag.jpg);
    background-size: 200px 100%;
    width: 150px;
    height: 100%;
    display: inline-block;
    top: 75px;
    
}

.div-title {
    width: 50%;
    height: 23%;
    border-radius: 1em;
    display: grid;
    margin: 0 auto;
    top: 90px;
    position: relative;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
}

.div-title h1 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
    position: relative;
    top: -12px;
}

.div-title h2 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    top: -26px;
}

.div-title h3 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40px;
}

.signo-ab {
    float: left;
    margin: 10px;
}

.signo-ce {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.div-fondo h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

/*  Cards */


.cards {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    top: 150px;
    gap: .2em;
}

.card {
    padding-bottom: 2.2em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}

.fa-js {
    color: rgb(255, 208, 0)
}

.fa-css3-alt {
    color: rgb(0, 86, 136)
}

.fa-html5 {
    color: rgb(245, 90, 0);
}


.card__img img {
    display: flex;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 200px;
    border-radius: 1em 1em 0 0;
}

.card__texts {
    justify-content: center;
    padding: 1em;
}

.card__p {
    padding: 1.5em 0;
}

.card__cta {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    cursor: pointer;
}
.open_1 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 8px 22px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 15px;
    cursor: pointer;
}



/* Modal */

.modal-container-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;


    z-index: 2;
}
.modal-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;


    z-index: 2;
}

.modal-1 {
    background: rgb(255, 255, 255);
    width: 900px;
    max-width: 100%;
    height: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;

    z-index: 1;
}
.modal-1-h1{
    font-family: 'Rubik', sans-serif;
    font-style: oblique;
    position: relative;
    top: -20px;
}
.list{
    position: relative;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
}
.modal-h1{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 13px;
    width: 600px;
    height: 300px;
    position: relative;
    bottom: 15px;
    align-items: center;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
}

.modal {
    background: rgb(255, 255, 255);
    width: 900px;
    max-width: 100%;
    height: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;

    z-index: 1;
}


.modal h1 {
    margin-bottom: 15px;
}

.modal-img {
    width: 600px;
    height: 300px;
    background-image: url(../imagenes/html-frag.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -30px;
    align-items: center;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
}

.modal button {
    margin-bottom: 10px;
}


.modal-container-2 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    z-index: 1;
}

.modal-2 {
    background: rgb(255, 255, 255);
    width: 900px;
    max-width: 100%;
    height: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-2 h1 {
    margin-bottom: 15px;
}

.modal-img-2 {
    width: 600px;
    height: 300px;
    background-image: url(../imagenes/css-frag.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -30px;
    align-items: center;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
}

.modal-2 button {
    margin-top: 10px;
}

.modal-container-3 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    z-index: 1;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-3 {
    background: rgb(255, 255, 255);
    width: 900px;
    max-width: 100%;
    height: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;

}

.modal-3 h1 {
    margin-bottom: 15px;
}

.modal-img-3 {
    width: 600px;
    height: 300px;
    background-image: url(../imagenes/js-frag.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -30px;
    align-items: center;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
}

.modal-3 button {
    margin-bottom: 10px;
}

.close-1{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(253, 253, 253);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}
.close,
.close_2,
.close_3 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(253, 253, 253);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    cursor: pointer;
}

.div-close {
    width: 100%;
    position: relative;
    align-items: center;
}

.close {
    position: relative;
    align-items: center;
    top: 50%;
}

.div-close-2 {
    width: 100%;
    position: relative;
    align-items: center;
}

.close_2 {
    position: relative;
    align-items: center;
    top: 40%;
}

.div-close-3 {
    width: 100%;
    position: relative;
    align-items: center;
}

.close_3 {
    position: relative;
    align-items: center;
    top: 50%;
}

/* Galeria */

.galeria {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 900px;
    min-height: 100vh;
    padding: 50px 0;
    display: grid;
    gap: 0 30px;
    grid-column: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    grid-template-areas: ".      card1       ."
        "card2    .     card3"
        ".      card4       .";
    margin-top: 450px;
    position: relative;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    padding: 10px 10px;
}

.galeria-item {
    width: 100%;
    max-width: 370px;
    height: 250px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
    border-radius: 1em;
    margin-top: 35px;
}

.galeria-item:nth-of-type(1) {
    grid-area: card1;
}

.galeria-item:nth-of-type(2) {
    grid-area: card2;
}

.galeria-item:nth-of-type(3) {
    grid-area: card3;
}

.galeria-item:nth-of-type(4) {
    grid-area: card4;
}

.figuras-galeria {
    flex-basis: 48%;
}

.galeria-icon {
    width: 110px;
    height: 110px;
}

/**** contacto *****/

#message {
    height: 50px;
}

.container-img {
    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: auto;
}

.div-contacto img {
    margin: 14px;
    height: 40px;
    margin-top: 20px;
}

.container-footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}


.contactarme {
    width: 130px;
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 40px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;

}

.contactarme:focus {
    outline: 0;
}

.contactarme {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.contactarme:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}


form {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 32px -16px rgb(255, 255, 255);
    border-radius: 1em;
}

form p {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}


.container {
    margin-top: 0;
}

form {
    margin-top: 15px;
}

.container input,
textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 1em;
}

.form-h1 {
    width: 230px;
    color: rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 40px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.form-h1:focus {
    outline: 0;
}

.form-h1 {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.form-h1:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 110px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 1em;
    margin-top: 10px;
}

.btn:focus {
    outline: 0;
}

.btn {
    border-color: rgb(6, 47, 71);
    transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
    background: linear-gradient(90deg, rgb(7, 2, 100) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    box-shadow: 2px 5px;
}

.how-i-am {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 10px;
    width: 100%;
    height: 10px;
    position: relative;
    top: 55px;

}


/** Section responsive **/

@media only screen and (max-width: 768px) {

    /*** Nav ***/
    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        position: fixed;
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 40px;
        margin-top: 50px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
        margin-left: 10px;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .div-title {
        width: 90%;
    }

    .cards {
        width: 100%;
        display: block;
        margin-top: 0;
        position: relative;

    }

    .card {
        width: 60%;
        margin-left: 5%;
        position: relative;
        margin-top: 20px;
    }
}

/** Section responsive second**/
@media screen and (max-width: 468px) {
    body {
        padding-top: 70px;
    }

    /*** Nav ***/
    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .logo-nav {
        left: 20px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        position: fixed;
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 40px;
        margin-top: 50px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
        margin-left: 10px;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    /*** Container-first***/

    .container-first {
        margin: 30px;
        margin-top: -70px;
    }

    .div-foto {
        position: relative;
        align-items: center;
        width: 100%;
        height: 500px;
    }

    .foto {
        margin: 0;
        width: 200px;
        height: 205px;
        position: relative;
        top: 5px;
    }

    .div-foto h1 {
        width: 90%;
        position: relative;
        font-size: 18px;
        top: 40px;
        margin: 0 auto;
    }

    .flag-img {
        width: 140px;
        height: 100px;
        position: relative;
        top: 70px;
    }

    .shadow {
        -webkit-animation: shadow-pop-bl 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: shadow-pop-bl 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }


    @-webkit-keyframes shadow-pop-bl {
        0% {
            -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }

        100% {
            -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
        }
    }

    @keyframes shadow-pop-bl {
        0% {
            -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
        }

        100% {
            -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
            -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
        }
    }


    .logo__1 img {
        margin-top: 3px;
        margin-right: 5px;

    }

    .div-fondo {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .div-title {
        width: 98%;
        height: 220px;
        position: relative;
        align-items: center;
        padding: 4px;
        top: -50px;
    }
    .open_1{
        position: relative;
        top: 40px;
    }

    .div-title h2 {
        position: relative;
        top: -25px;
    }

    .div-title h3 {
        font-size: 16px;
        position: relative;
        top: -30px;
    }

    .div-line {
        margin-top: 150px;
        width: 90%;
    }

    .div-line-2 {
        margin-top: 0px;
    }

    .div-line-3 {
        margin: 150px 20px 150px;
    }

    .cards {
        width: 90%;
        display: block;
        margin-top: 0;
        margin: 0;
    }

    .card {
        width: 100%;
        margin-top: 20px;
    }

    .modal-container-1 {
        height: 100%;
    }

    .modal-container {
        height: 100%;
    }

    .modal-container-2 {
        height: 100%;
    }

    .modal-container-3 {
        height: 100%;
    }

    .modal-1 {
        padding: 0 4px;
        width: 100%;
        position: relative;
    }

    .modal-h1 {
        font-size: 10px;
        margin-top: 2%;
        width: 95%;
        height: 50%;
    }
    .modal-h1 h1{
        margin-top: 20px;
    }
    .close-1{
        position: relative;
        top: 30px;
    }
    

    .modal {
        padding: 0 4px;
        width: 100%;
        position: relative;
    }

    .modal-img {
        margin-top: 20%;
        width: 95%;
        height: 40%;
    }

    .modal-2 {
        padding: 0 4px;
        width: 100%;
        position: relative;
    }

    .modal-img-2 {
        margin-top: 20%;
        width: 95%;
        height: 40%;
    }

    .modal-3 {
        padding: 0 4px;
        width: 100%;
        position: relative;
    }

    .modal-img-3 {
        margin-top: 20%;
        width: 95%;
        height: 40%;
    }

    .div-close {
        width: 100%;
        position: relative;

    }

    .close {
        position: relative;
        align-items: center;
        top: 90%;

    }

    .div-close-2 {
        width: 100%;
        position: relative;
        align-items: center;
    }

    .close_2 {
        position: relative;
        align-items: center;
        top: 90%;
    }

    .div-close-3 {
        width: 100%;
        position: relative;
        align-items: center;
    }

    .close_3 {
        position: relative;
        align-items: center;
        top: 90%;
    }

    /** Section Galeria **/


    .galeria {
        display: block;
    }

    .galeria-item {
        width: 90%;
        height: 200px;
        margin: 5px auto;
        position: relative;
    }

    .galeria-item img {
        position: relative;
        align-items: center;
    }

    .container-footer {
        display: block;
        padding: 0;
    }

    .div-contacto img {
        margin: 5px;
    }
}