@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,300&family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navegation */

header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    max-width: 992px;
    margin: 0 auto;
}


.nav-menu {
    display: flex;
    float: right;
    list-style: none;
    margin-top: 25px;

    left: 100%;
}


.nav-menu-link {    
    color:rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 20px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.nav-menu-link:focus {
    outline: 0;
}

.nav-menu-link {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.nav-menu-link:hover {
    background-color: rgb(0, 213, 255);
    box-shadow: 5px 10px;
}


.btn {
    cursor: pointer;
}


.nav-toggle {
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 20px 20px;
    float: right;
    cursor: pointer;

    display: none;
}

/**** Container ****/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
}

.fondo {
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 83px;
    border-radius: 1em;
}

.div-fondo {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

.div-title{
    width: 50%;
    height: 20%;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
}

.foto {
    width: 240px;
    height: 240px;
    border-radius: 9em 9em;
    margin-top: 100px;
}

.div-fondo h1 {
    color: rgb(255, 255, 255);
}

.div-fondo h3 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

/*  Cards */

.cards {
    font-family: 'Rubik', sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 150px 3px;
    gap: .2em;
    margin-top: 50px;

}

.card {
    padding-bottom: 2.2em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}


/*****
.card:nth-of-type(1) {
    --image: url(../imagenes/html.jpg);
}

.card:nth-of-type(2) {
    --image: url(../imagenes/css.jpg);
}

.card:nth-of-type(3) {
    --image: url(../imagenes/javaS.jpg);
}
****/


.card__img img {
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 1em 1em 0 0;

}

.card__texts {
    justify-content: center;
    padding: 1em;
}

.card__p {
    padding: 1.5em 0;
}

.card__cta {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;

}

.btn {
    cursor: pointer;
}



/* Modal */

.modal-container {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;


}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-2 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-2 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-3 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-3 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.close,
.close_2,
.close_3 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

/* Galeria */

.galeria {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 90px 0;
    display: grid;
    gap: 20px;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-rows: (4, 1fr);
    align-items: center;
    grid-template-areas:
        ".      card1       ."
        "card2    .     card3"
        ".      card4       .";

    margin-top: 150px;
}

.galeria-item {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: 0 0 32px -16px rgba(0, 0, 0, 0.5);
}

.galeria-item:nth-of-type(1) {
    grid-area: card1;
}

.galeria-item:nth-of-type(2) {
    grid-area: card2;
}

.galeria-item:nth-of-type(3) {
    grid-area: card3;
}

.galeria-item:nth-of-type(4) {
    grid-area: card4;
}

.figuras-galeria {
    flex-basis: 48%;
}

.galeria-icon {
    width: 110px;
    height: 110px;
}

/**** contacto *****/

#message {
    height: 50px;
}

.container-img {
    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: auto;
}

.container-img img {
    margin: 14px;
    height: 40px;
}


.img-personal {
    width: 100%;
    height: 330px;
    border-radius: 1em;
}


/**** Footer ****/
.container-footer {
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;

}

#form {
    width: 400px;
    height: 450px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(8, 3, 88) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}


.field {
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    
}

.field input {
    width: 90%;
    margin-top: 10px;
    border-radius: 1em;
    height: 30px;
    margin-top: 20px;
}

.button {    
    color:rgb(49, 6, 90);
    background-color: transparent;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 20px;
    padding: .5rem .8rem;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
}

.button:focus {
    outline: 0;
}

.button {
    border-color: rgb(0, 73, 116);
    transition: box-shadow 0.2s ease-in-out;
}

.button:hover {
    background-color: rgb(112, 213, 255);
    box-shadow: 5px 10px;
}

.div-contacto{
    width: 100%;
    height: 150px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgb(8, 3, 88) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    margin-bottom: 10px;
}

.div-contacto h1{
    padding: 10px;
}

/* Transition */

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: rgb(1, 121, 145);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}


























































/*************************************************************************************************************/


/* Responsive */

@media screen and (max-width: 768px) {

    .div-fondo {
        width: 90%;
        height: 500px;
    }

    .foto {
        width: 120px;
        height: 120px;
        border-radius: 9em 9em;
        margin-top: 100px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .galeria {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 40px;
    }

    .galeria-item {
        flex: 1;
        flex-direction: column;
    }

    header {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        height: 73px;
    }

    .logo-nav {
        font-size: 5px;
        padding: 0 5px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
        position: fixed;
        left: 0;
        top: 48px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        justify-content: center;



        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-link {
        decoration: none;
    }

    .card__img img {
        background-size: cover;
    }




    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }
}

@media screen and (min-width: 768px) {

    .div-fondo {
        width: 90%;
        height: 900px;
    }

   

    .card {
        width: 90%;
        max-width: 1200px;
        margin-top: 50px;
    }
}