@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 90px 20px 0;
}

/* Navegation */

header{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu {
    display: flex;
    float: right;
    list-style: none;

    left: 100%;
}

.nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; 
}

.nav-menu-link:hover,
.nav-menu-link_active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}

.logo__1{
   font-weight: bold;
   padding: 5px 40px;
   line-height: 80px;
}

.nav-toggle{
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 20px 20px; 
    float: right;
    cursor: pointer;
    
    display: none;
}

/*  Cards */

.cards {
    font-family: 'Rubik', sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 0;
    gap: 2em;
    
}

.card {
    padding-bottom: 2.5em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}

.card:nth-of-type(1) {
    --image: url(imagenes/html.jpg);
}

.card:nth-of-type(2) {
    --image: url(imagenes/css.jpg);
}

.card:nth-of-type(3) {
    --image: url(imagenes/javaS.jpg);
}


.card__img {
    background-image: var(--image);
    background-position: center top;
    background-size: cover;
    height: 200px;
    border-radius: 1em 1em 0 0;
}

.card__texts {
    justify-content: center;
    padding: 1em;
}

.card__p {
    padding: 1.5em 0;
}

.card__cta {
    margin-left: 1em;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1em 3em;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

/* Modal */

.modal-container {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-2 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-2 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-container-3 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-3 {
    background: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.close,
.close_2,
.close_3 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
}

/* Galeria */

.galeria {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 80px 0;
    display: grid;
    gap: 20px;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-rows: (4, 1fr);
    align-items: center;
    grid-template-areas:
        ".      card1       ."
        "card2    .     card3"
        ".      card4       .";
}

.galeria-item {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: 0 0 32px -16px rgba(0, 0, 0, 0.5);
}

.galeria-item:nth-of-type(1) {
    grid-area: card1;
}

.galeria-item:nth-of-type(2) {
    grid-area: card2;
}

.galeria-item:nth-of-type(3) {
    grid-area: card3;
}

.galeria-item:nth-of-type(4) {
    grid-area: card4;
}

.figuras-galeria {
    flex-basis: 48%;
}

.galeria-icon {
    width: 110px;
    height: 110px;
}

/* Contacto */

.mapa{
    width: 600px;
    height: 450px;
    margin-top: 50px;
}






/* Responsive */

@media screen and (max-width: 768px) {
    .cards{
        display: flex;
        flex-direction: column;
    }
    .galeria {
        display: flex;
        flex-direction: column; 
    }

    body{
        padding: 90px 20px 0;
    }

    header{
        background: none;
        height: 65px;
    }

    .logo__1{
        font-size: 5px;
        padding: 0 5px;
    }

    .nav-menu{
       flex-direction: column;
       align-items: center;
       margin-right: 20px;
       background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(83, 83, 83, 1) 28%, rgb(1, 121, 145) 100%);
       position: fixed;
       left: 0;
       top: 65px;
       width: 100%;
       padding: 20px 0;
       height: calc(100% - 60px);
       overflow-y: auto;
       
       
       left: 100%;
       transition: left 0.3s;
    }



    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: rgb(255, 255, 255);
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
}

